{% extends 'jot/base.html' %} {% load static %} {% block title_block %} About
{%endblock %} {% block body_block %}
<h1 class="h1-title-block">What is Jot?</h1>
<h3 class="h3-subtitle-block">We're so glad you asked...</h3>
<br />
<p class="main-paragraph">
  Jot is a platform that enables the sharing of pdfs. What's on these pdfs can
  range from works on the public domain, textbooks, cookbooks, even our users
  own works, we believe in the principle that access to information should be
  open and free. So come have a look around, search our works that you like,
  books you're looking to study from or try a random book and see where it takes
  you. The portal to a thousand worlds can be open by just turning a page. Or
  clicking a link.
</p>
{% endblock %}
