<!DOCTYPE html>


<html>
    <head>
        <title>
            JOT
        </title>
    </head>
    <body>
        <div><h1>JOT<h1> remember the o is an on-click event to load a random page</div>
        <div>Login stuff here</div>
        <div>Page links here</div>
        <div>the sidebar goes here, maybe needs 2 divs</div>
        <div>remember and use css to make this work on laptop and mobile if possible</div>
        <!-- above is all header block-->
        <div>This is a form <br /> we will need a way to animate the stars this is a harder js task (involving radio buttons) <br />
        the review has an optional show name, a rating and then space for a text review.</div>
        <div>Featured users</div>
        <!-- below this is the footer block-->
        <div>Footer</div>
    </body>
</html>