<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <title>JOT - {% block title_block %}Sharing Worldwide{% endblock %}</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
      integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
      integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'javascript/script.js' %}"></script>
  </head>
  <body>
    <div class="logo"><a href="{% url 'jot:index' %}"><h1>JOT</h1></a></div>
    <div class="bar" id="bar-one">
      {% if user.is_authenticated %}
        <div id="login-block"><a href="{% url 'jot:userpage' user.username %}">Your Profile</a></div>
      {% else %}
        <div id="login-block"><a href="{% url 'auth_login' %}">Log In</a></div>
      {% endif %}
    </div>
    <div class="bar" id="bar-two">
      <ul class="navbar">
        <li class="linkli">
          <a class="navlink" href="{% url 'jot:categories' %}">Categories</a>
        </li>
        <li class="linkli">
          <a class="navlink" href="{% url 'jot:surpriseme' %}">Surprise Me</a>
        </li>
        <li class="linkli">
          <a class="navlink" href="{% url 'jot:contactus' %}">Contact Us</a>
        </li>
        <li class="linkli">
          <a class="navlink" href="{% url 'jot:about' %}">About</a>
        </li>
      </ul>
    </div>
    <div class="vertical-bar" id="vertical-bar-one"></div>
    <div class="vertical-bar" id="vertical-bar-two"></div>
    <!-- above is all header block-->
    <div id="main">{% block body_block %} {% endblock %}</div>
    <!-- below this is the footer block-->
    <div id="footer">
      JOT&trade; does not claim responsibility for any copyright infringement,
      press <kbd>Ctrl + Shft + J</kbd> to open up the developer console. Visits:
      {{ visits }}
      {% if user.is_authenticated %}
      <a href="{% url 'auth_logout' %}">log out</a>
      {% else %}
      <a href="{% url 'auth_login' %}">log in</a>
      {% endif %}
    </div>
  </body>
</html>
