{% extends 'jot/base.html' %} {% load static %} {% block title_block %}
{{ book.book_title }} {%endblock %} {% block body_block %}
<h1 class="h1-title-block">{{ book.book_title }}</h1>
<h3 class="h3-subtitle-block">{{ book.book_category }} by {{ book.author }}</h3>
<p class="main-paragraph">{{ book.book_description }}</p>
<div class="book-div">
  <div class="book-link">
    <a href="media/Moby_Dick_PDF_tfwn1F5.pdf" target="_blank">{{ book.book_title }}</a>
  </div>
  <div class="download-symbol">
    <a href="{{ book.pdf_upload }}" download><i class="fas fa-arrow-down"></i></a>
  </div>
</div>

<div class="review-div">
  <i class="fas fa-star fa-2x {{ star1 }}"></i>
  <i class="fas fa-star fa-2x {{ star2 }}"></i>
  <i class="fas fa-star fa-2x {{ star3 }}"></i>
  <i class="fas fa-star fa-2x {{ star4 }}"></i>
  <i class="fas fa-star fa-2x {{ star5 }}"></i>
  ({{ total_reviews }})
</div>

<div class="accordion">
  <button type="button" class="accordion-button">Instructions</button>
  <div class="accordion-content">
    Click on the book title to be taken to another tab <br />
    OR <br />
    Click the download symbol (<i class="fas fa-arrow-down"></i>) <br />
    Navigate to your downloads folder <br />
    Click on the file icon called {{ book.pdf_upload }}
  </div>
  <script src="{% static 'script.js' %}"></script>
</div>
{% endblock %}
