{% extends 'jot/base.html' %}

{% load static %}

{% block title_block %}
    {% if category %}
        {{ category.category_name }}
    {% else %}
        Category not Found
    {% endif %}
{%endblock %}

{% block body_block %}
  {% if books %}
    <h1 class="h1-title-block">Books under {{ category.category_name }}</h1><br />
    <ul class="category-list">
    {% for book in books %}
    <li><a href="{% url 'jot:book' book.bookID %}"><h3 class="h3-subtitle-block">{{ book.book_title }}</h3></a></li>
    {% endfor %}
    </ul>
  {% else %}
    <h3 class="h3-subtitle-block">There appears to be no sign of book life anywhere....</h3>
  {% endif %}
{% endblock %}
