{% extends 'jot/base.html' %} {% load static %} {% block title_block %} Contact
Us {%endblock %} {% block body_block %}
<h1 class="h1-title-block">Who are we?</h1>
<h3 class="h3-subtitle-block">Connor Coull</h3>
<p class="main-paragraph">Worked on the Frontend, including html, css, javascript and Django. Developed the counter cookie in Python. I used VSCode.</p>
<h3 class="h3-subtitle-block">Mark Kerr</h3>
<p class="main-paragraph">Worked on the Models and populate script in python. Uses VSCode.</p>
<h3 class="h3-subtitle-block">Chenyu Zhen</h3>
<p class="main-paragraph">Worked on the page form in python.</p>
<h3 class="h3-subtitle-block">Matthew De Gouveia</h3>
<p class="main-paragraph">Worked on the API function and the User Authentication.</p>
<h3 class="h3-subtitle-block">Tianhao Yang</h3>
<p class="main-paragraph">Worked on the search functionality. Uses VSCode.</p>
<br />

{% endblock %}
