{% extends 'jot/base.html' %}
{% load static %}
{% block title_block%}
  Home
{% endblock %}
{% block body_block %}
<div id="search-bar">
  <form class="search-form" action="{% url 'jot:searchresults' %}" method="get">
    <button class="submit-button" type="submit">Search</button>
    <input class="search-bar" name="query-input" type="text" placeholder="Search...">
  </form>
</div>
<div class="name-block">
  <strong>Top Reads:</strong><br /><br />
  {% if top_books_list %}
    <ul class="books-list">
      {% for book in top_books_list %}
        <li class="top-book-link">
          <a href="{% url 'jot:book' book.bookID %}">{{ book.book_title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
  <strong>There are no pages present</strong>
  {% endif %}
  
</div>
</div>
{% endblock %}