<!DOCTYPE html>
<html lang="en">
<head>
<meta charset = "UTF-8">
<title>
Files Upload Page
</title>
</head>
<body>
     <form action = "" form method="post" enctype="multipart/form-data">
          <label for="document"> upload PDF</br>
		      <input type = "text" placeholder="Please input article title" name = "title"></br>
			  <input type = "text" placeholder="Please input some content about article" name = "content"></br>
              <input type="file" name="myfile"></br>
          </label>
          <button type="submit">Submit</button>
    </form>
	</body>
</html>